<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodbank2021">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Foodbank2021">
        <activity android:name=".GvPenalty"></activity>
        <activity android:name=".MemberActivity" />
        <activity
            android:name=".MapActivity"
            android:label="Google Maps"></activity>
        <activity android:name=".createQRcode" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".RegisterUser" />
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".AdminActivity"
            android:label="@string/title_activity_admin"
            android:theme="@style/Theme.Foodbank2021.NoActionBar" />
        <activity
            android:name=".UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/Theme.Foodbank2021.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FoodActivity" />
        <activity android:name=".ConfirmActivity" />
        <activity android:name=".Donation" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDW3i5jCXLjaet4x5MLn6bEIHOBwuGTuu0" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>